.catalogo {

    &__titulo {
        color: $vermelho-escuro;
        font-family: $fonte-principal;
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    &__organizacao {
        @extend %itens-espacados;
        height: 2rem;
        border-top: $borda-cinza-fina;
        border-bottom: $borda-cinza-fina;
        align-items: center;

        @include mobile {
            justify-content: space-around;
        }
    }

    &__view {
        display: flex;
    }

    &__lista {
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-row-gap: 2rem;
        margin-top: 1.5rem;

        @include mobile {
            grid-template-columns: 150px 150px;
        }

        @include tablet {
            grid-template-columns: auto auto auto;
        }

        @include laptop {
            grid-template-columns: 190px 190px 190px 190px;
        }

        @include monitor {
            grid-template-columns: 190px 190px 190px 190px;
        }
    }

    &__item {
        margin-bottom: 1rem;
        text-align: center;
        width: 200px;

        @include mobile {
            width: 130px;
        }

        @include tablet {
            width: 150px;
        }

        @include laptop {
            width: 190px;
        }

        @include monitor {
            width: 170px;
        }
    }

    &__paginacao {
        display: flex;
        justify-content: center;
    }

    @include mobile {
        padding-left: 0;
        width: 100%;
    }
}

.item {

    &__container-imagem {
        width: 200px;
        height: 220px;
        overflow: hidden;
        border: $borda-cinza-fina;
        text-align: center;

        @include mobile {
            width: 130px;
            height: 180px;
        }

        @include tablet {
            width: 150px;
            height: 200px;
        }

        @include laptop {
            width: 170px;
            height: 220px;
        }

        @include monitor {
            width: 170px;
            height: 220px;
        }
    }

    &__imagem {
        width: 100%;
        height: auto;
    }

    &__informacoes {
        display: flex;
        flex-direction: column;
    }

    &__texto {
        min-height: 40px;
    }

    &__nome {
        padding-top: 0.5rem;
        @extend %letra-cinza-maiuscula;
    }

    &__precos {
        display: flex;
        justify-content: space-around;
        padding-bottom: 1rem;

        @include mobile {
            flex-direction: column;
            min-height: 40px;
        }

        @include tablet {
            flex-direction: column;
            min-height: 40px;
        }
    }

    &__preco {
        @extend %letra-cinza-maiuscula;
        text-decoration: line-through;
    }

    &__preco-especial {
        @extend %letra-destacada;
        color: $vermelho-escuro;
        font-size: 1.2rem;
    }

    &__button {
        @extend %letra-destacada;
        @extend %botao-sem-borda;
        color: white;
        height: 2.3rem;
        background-color: $verde-claro;
        width: 200px;
        border-radius: 5px;

        @include mobile {
            width: 130px;
        }

        @include tablet {
            width: 150px;
        }

        @include laptop {
            width: 170px;
        }

        @include monitor {
            width: 170px;
        }
    }
    
}

.view {
    &__item {
        color: gray;
        font-size: 1rem;
        padding: 0.25rem;
        cursor: pointer;
    }

    @include mobile {
        display: none;
    }
}

.ordenacao {
    &__label {
        @extend %letra-destacada;
        color: gray;
        font-size: 0.8rem;
        padding-right: 0.5rem;
    }

    &__select {
        width: 10rem;
        font-family: $fonte-principal;
        border-radius: 5px;
        border-color: lightgray;
    }
}

.paginacao {
    &__item {
        font-family: $fonte-principal;
        padding-right: 10px;
        cursor: pointer;

        &::selection {
            color: $vermelho-escuro;
        }
    }

    &__seta {
        color: $verde-claro;
        padding-right: 10px;
    }
}