.filtros {
    &__titulo {
        @extend %letra-destacada;
        color: $vermelho-escuro;
        font-size: 1.5rem;
        padding-top: 0.7rem;
        padding-left: 0.7rem;
    }

    &__subtitulo {
        @extend %letra-destacada;
        padding-top: 0.7rem;
        padding-left: 0.7rem;
        padding-bottom: 0.7rem;
        color: $verde-claro;
    }

    &__lista, &__generos {
        @extend %lista-discos-internos;
        padding-left: 0.7rem;
    }

    &__item {
        @extend %item-clicavel;
        color: darkgrey;
        margin-bottom: 0.5rem;
    }

    &__cor {
        display: inline-block;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 0.7rem;
    }

    &__button {
        @extend %botao-sem-borda;
        width: 4rem;
        height: 2rem;
    }
}