.header {
    &__links {
        background-color: black;
        color: white;
        display: flex;
        justify-content: flex-end;
        height: 1.8rem;
        align-items: center;

        @include mobile {
            justify-content: center;
        }
    }

    &__p {
        font-family: $fonte-principal;
    }

    &__a {
        @extend %item-clicavel;
        text-decoration: underline;
    }

    &__searchbar {
        @extend %itens-espacados;
        height: 6rem;
        align-items: center;
    }

    &__search {
        @include mobile {
            display: none;
        }
    }

    &__logo {
        width: 11rem;
    }

    &__input {
        height: 2.3rem;
        width: 20rem;
        margin-right: -0.25rem;
    }

    &__button {
        @extend %letra-destacada;
        @extend %botao-sem-borda;
        color: white;
        height: 2.3rem;
        width: 5.5rem;
        background-color: $vermelho-escuro;
    }

    &__navbar {
        background-color: $vermelho-escuro;
        height: 3rem;
    }
}

.navbar {
    display: flex;
    align-items: center;

    &__lista {
        display: flex;
    }

    &__item {
        @extend %letra-destacada;
        color: white;
        margin-right: 4rem;
        cursor: pointer;

        @include tablet {
            margin-right: 3rem;
        }
    }

    @include mobile {
        display: none;
    }
}

.item {
    
    &__a {
        text-decoration: none;
        color: white;
    }
}

.busca-mobile {
    display: block;
    color: $vermelho-escuro;

    @include tablet {
        display: none;
    }

    @include laptop {
        display: none;
    }

    @include monitor {
        display: none;
    }
}

.menu-mobile {
    display: block;

    @include tablet {
        display: none;
    }

    @include laptop {
        display: none;
    }

    @include monitor {
        display: none;
    }
}