.main {
    
    min-height: 100vh;

    @include mobile {
        min-height: 60vh;
    }
    
    @extend %itens-espacados;
    margin-top: 1.5rem;

    &__sidebar {
        background-color: lightgrey;
        width: 20%;

        @include laptop {
            height: 30rem;
        }

        @include monitor {
            height: 30rem;
        }
    }

    &__breadcrumbs {
        position: absolute;
        display: flex;

        @include mobile {
            position: static;
        }
    }

    &__article {
        width: 78%;

        @include mobile {
            width: 100%;
        }
    }

    &__filtros {
        width: 20%;
        border: $borda-cinza-fina;
        margin-top: 2.5rem;

        @include mobile {
            width: 100%;
            margin-top: 1rem;
        }

        @include tablet {
            width: 25%;
            height: 30rem;
        }

        @include laptop {
            height: 30rem;
        }

        @include monitor {
            height: 35rem;
        }
    }

    &__catalogo {
        width: 78%;
        padding-left: 1rem;
        margin-top: 2.5rem;
    }

    @include mobile {
        display: block;
    }
}

.breadcrumbs {
    &__item {
        padding: 0.2rem;
        font-family: $fonte-principal;
    }

    &__a {
        text-decoration: none;
        color: black;
    }
}

.sidebar {

    &__lista {
        @extend %lista-discos-internos;
    }

    &__item {
        @extend %item-clicavel;
        padding: 0.8rem;
    }
    
    @include mobile {
        display: none;
    }

    @include tablet {
        height: 22rem;
    }
}

.article {
    &__img {
        width: 100%;
        height: 15rem;
        background-color: darkgray;

        @include mobile {
            height: 5rem;
        }

        @include tablet {
            height: 10rem;
        }
    }

    &__titulo {
        font-family: $fonte-principal;
        font-size: 1.2rem;
        margin-top: 0.8rem;
        margin-bottom: 0.8rem;
    }

    &__p {
        font-family: $fonte-principal;
        font-size: 0.8rem;
    }
}