@mixin mobile {
    @media (max-width: 320px) {@content;}
}

@mixin tablet {
    @media (min-width: 320.1px) and (max-width: 768px) {@content;}
}

@mixin laptop {
    @media (min-width: 768.1px) and (max-width: 1024px) {@content;}
}

@mixin monitor {
    @media (min-width: 1024.1px) and (max-width: 1440px) {@content;}
}