%botao-sem-borda {
    border: none;
    cursor: pointer;
}

%letra-cinza-maiuscula {
    color: gray;
    text-transform: uppercase;
    font-family: $fonte-principal;
}

%itens-espacados {
    display: flex;
    justify-content: space-between;
}

%item-clicavel {
    font-family: $fonte-principal;
    cursor: pointer;
}

%lista-discos-internos {
    list-style-type: disc;
    list-style-position: inside;
}

%letra-destacada {
    text-transform: uppercase;
    font-family: $fonte-principal;
    font-weight: 800;
}