$fonte-principal: 'Open Sans';
$vermelho-escuro: #de0020;
$verde-claro: #82bab5;
$borda-cinza-fina: solid 1px lightgray;

@import "placeholders.scss", "mixins.scss", "header.scss", "main.scss", "filtros.scss", "catalogo.scss", "footer.scss";

.container {
    padding-left: 15%;
    padding-right: 15%;

    @include mobile {
        padding-left: 8px;
        padding-right: 8px;
        margin-top: 0;
    }

    @include tablet {
        padding-left: 15px;
        padding-right: 15px;
    }

    @include laptop {
        padding-left: 15px;
        padding-right: 15px;
    }
}