.header__button, .filtros__button, .item__button {
  border: none;
  cursor: pointer; }

.item__nome, .item__preco {
  color: gray;
  text-transform: uppercase;
  font-family: "Open Sans"; }

.header__searchbar, .main, .catalogo__organizacao {
  display: flex;
  justify-content: space-between; }

.header__a, .sidebar__item, .filtros__item {
  font-family: "Open Sans";
  cursor: pointer; }

.sidebar__lista, .filtros__lista, .filtros__generos {
  list-style-type: disc;
  list-style-position: inside; }

.header__button, .navbar__item, .filtros__titulo, .filtros__subtitulo, .item__preco-especial, .item__button, .ordenacao__label {
  text-transform: uppercase;
  font-family: "Open Sans";
  font-weight: 800; }

.header__links {
  background-color: black;
  color: white;
  display: flex;
  justify-content: flex-end;
  height: 1.8rem;
  align-items: center; }
  @media (max-width: 320px) {
    .header__links {
      justify-content: center; } }
.header__p {
  font-family: "Open Sans"; }
.header__a {
  text-decoration: underline; }
.header__searchbar {
  height: 6rem;
  align-items: center; }
@media (max-width: 320px) {
  .header__search {
    display: none; } }
.header__logo {
  width: 11rem; }
.header__input {
  height: 2.3rem;
  width: 20rem;
  margin-right: -0.25rem; }
.header__button {
  color: white;
  height: 2.3rem;
  width: 5.5rem;
  background-color: #de0020; }
.header__navbar {
  background-color: #de0020;
  height: 3rem; }

.navbar {
  display: flex;
  align-items: center; }
  .navbar__lista {
    display: flex; }
  .navbar__item {
    color: white;
    margin-right: 4rem;
    cursor: pointer; }
    @media (min-width: 320.1px) and (max-width: 768px) {
      .navbar__item {
        margin-right: 3rem; } }
  @media (max-width: 320px) {
    .navbar {
      display: none; } }

.item__a {
  text-decoration: none;
  color: white; }

.busca-mobile {
  display: block;
  color: #de0020; }
  @media (min-width: 320.1px) and (max-width: 768px) {
    .busca-mobile {
      display: none; } }
  @media (min-width: 768.1px) and (max-width: 1024px) {
    .busca-mobile {
      display: none; } }
  @media (min-width: 1024.1px) and (max-width: 1440px) {
    .busca-mobile {
      display: none; } }

.menu-mobile {
  display: block; }
  @media (min-width: 320.1px) and (max-width: 768px) {
    .menu-mobile {
      display: none; } }
  @media (min-width: 768.1px) and (max-width: 1024px) {
    .menu-mobile {
      display: none; } }
  @media (min-width: 1024.1px) and (max-width: 1440px) {
    .menu-mobile {
      display: none; } }

.main {
  min-height: 100vh;
  margin-top: 1.5rem; }
  @media (max-width: 320px) {
    .main {
      min-height: 60vh; } }
  .main__sidebar {
    background-color: lightgrey;
    width: 20%; }
    @media (min-width: 768.1px) and (max-width: 1024px) {
      .main__sidebar {
        height: 30rem; } }
    @media (min-width: 1024.1px) and (max-width: 1440px) {
      .main__sidebar {
        height: 30rem; } }
  .main__breadcrumbs {
    position: absolute;
    display: flex; }
    @media (max-width: 320px) {
      .main__breadcrumbs {
        position: static; } }
  .main__article {
    width: 78%; }
    @media (max-width: 320px) {
      .main__article {
        width: 100%; } }
  .main__filtros {
    width: 20%;
    border: solid 1px lightgray;
    margin-top: 2.5rem; }
    @media (max-width: 320px) {
      .main__filtros {
        width: 100%;
        margin-top: 1rem; } }
    @media (min-width: 320.1px) and (max-width: 768px) {
      .main__filtros {
        width: 25%;
        height: 30rem; } }
    @media (min-width: 768.1px) and (max-width: 1024px) {
      .main__filtros {
        height: 30rem; } }
    @media (min-width: 1024.1px) and (max-width: 1440px) {
      .main__filtros {
        height: 35rem; } }
  .main__catalogo {
    width: 78%;
    padding-left: 1rem;
    margin-top: 2.5rem; }
  @media (max-width: 320px) {
    .main {
      display: block; } }

.breadcrumbs__item {
  padding: 0.2rem;
  font-family: "Open Sans"; }
.breadcrumbs__a {
  text-decoration: none;
  color: black; }

.sidebar__item {
  padding: 0.8rem; }
@media (max-width: 320px) {
  .sidebar {
    display: none; } }
@media (min-width: 320.1px) and (max-width: 768px) {
  .sidebar {
    height: 22rem; } }

.article__img {
  width: 100%;
  height: 15rem;
  background-color: darkgray; }
  @media (max-width: 320px) {
    .article__img {
      height: 5rem; } }
  @media (min-width: 320.1px) and (max-width: 768px) {
    .article__img {
      height: 10rem; } }
.article__titulo {
  font-family: "Open Sans";
  font-size: 1.2rem;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem; }
.article__p {
  font-family: "Open Sans";
  font-size: 0.8rem; }

.filtros__titulo {
  color: #de0020;
  font-size: 1.5rem;
  padding-top: 0.7rem;
  padding-left: 0.7rem; }
.filtros__subtitulo {
  padding-top: 0.7rem;
  padding-left: 0.7rem;
  padding-bottom: 0.7rem;
  color: #82bab5; }
.filtros__lista, .filtros__generos {
  padding-left: 0.7rem; }
.filtros__item {
  color: darkgrey;
  margin-bottom: 0.5rem; }
.filtros__cor {
  display: inline-block;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.7rem; }
.filtros__button {
  width: 4rem;
  height: 2rem; }

.catalogo__titulo {
  color: #de0020;
  font-family: "Open Sans";
  font-size: 2rem;
  margin-bottom: 1rem; }
.catalogo__organizacao {
  height: 2rem;
  border-top: solid 1px lightgray;
  border-bottom: solid 1px lightgray;
  align-items: center; }
  @media (max-width: 320px) {
    .catalogo__organizacao {
      justify-content: space-around; } }
.catalogo__view {
  display: flex; }
.catalogo__lista {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-row-gap: 2rem;
  margin-top: 1.5rem; }
  @media (max-width: 320px) {
    .catalogo__lista {
      grid-template-columns: 150px 150px; } }
  @media (min-width: 320.1px) and (max-width: 768px) {
    .catalogo__lista {
      grid-template-columns: auto auto auto; } }
  @media (min-width: 768.1px) and (max-width: 1024px) {
    .catalogo__lista {
      grid-template-columns: 190px 190px 190px 190px; } }
  @media (min-width: 1024.1px) and (max-width: 1440px) {
    .catalogo__lista {
      grid-template-columns: 190px 190px 190px 190px; } }
.catalogo__item {
  margin-bottom: 1rem;
  text-align: center;
  width: 200px; }
  @media (max-width: 320px) {
    .catalogo__item {
      width: 130px; } }
  @media (min-width: 320.1px) and (max-width: 768px) {
    .catalogo__item {
      width: 150px; } }
  @media (min-width: 768.1px) and (max-width: 1024px) {
    .catalogo__item {
      width: 190px; } }
  @media (min-width: 1024.1px) and (max-width: 1440px) {
    .catalogo__item {
      width: 170px; } }
.catalogo__paginacao {
  display: flex;
  justify-content: center; }
@media (max-width: 320px) {
  .catalogo {
    padding-left: 0;
    width: 100%; } }

.item__container-imagem {
  width: 200px;
  height: 220px;
  overflow: hidden;
  border: solid 1px lightgray;
  text-align: center; }
  @media (max-width: 320px) {
    .item__container-imagem {
      width: 130px;
      height: 180px; } }
  @media (min-width: 320.1px) and (max-width: 768px) {
    .item__container-imagem {
      width: 150px;
      height: 200px; } }
  @media (min-width: 768.1px) and (max-width: 1024px) {
    .item__container-imagem {
      width: 170px;
      height: 220px; } }
  @media (min-width: 1024.1px) and (max-width: 1440px) {
    .item__container-imagem {
      width: 170px;
      height: 220px; } }
.item__imagem {
  width: 100%;
  height: auto; }
.item__informacoes {
  display: flex;
  flex-direction: column; }
.item__texto {
  min-height: 40px; }
.item__nome {
  padding-top: 0.5rem; }
.item__precos {
  display: flex;
  justify-content: space-around;
  padding-bottom: 1rem; }
  @media (max-width: 320px) {
    .item__precos {
      flex-direction: column;
      min-height: 40px; } }
  @media (min-width: 320.1px) and (max-width: 768px) {
    .item__precos {
      flex-direction: column;
      min-height: 40px; } }
.item__preco {
  text-decoration: line-through; }
.item__preco-especial {
  color: #de0020;
  font-size: 1.2rem; }
.item__button {
  color: white;
  height: 2.3rem;
  background-color: #82bab5;
  width: 200px;
  border-radius: 5px; }
  @media (max-width: 320px) {
    .item__button {
      width: 130px; } }
  @media (min-width: 320.1px) and (max-width: 768px) {
    .item__button {
      width: 150px; } }
  @media (min-width: 768.1px) and (max-width: 1024px) {
    .item__button {
      width: 170px; } }
  @media (min-width: 1024.1px) and (max-width: 1440px) {
    .item__button {
      width: 170px; } }

.view__item {
  color: gray;
  font-size: 1rem;
  padding: 0.25rem;
  cursor: pointer; }
@media (max-width: 320px) {
  .view {
    display: none; } }

.ordenacao__label {
  color: gray;
  font-size: 0.8rem;
  padding-right: 0.5rem; }
.ordenacao__select {
  width: 10rem;
  font-family: "Open Sans";
  border-radius: 5px;
  border-color: lightgray; }

.paginacao__item {
  font-family: "Open Sans";
  padding-right: 10px;
  cursor: pointer; }
  .paginacao__item::selection {
    color: #de0020; }
.paginacao__seta {
  color: #82bab5;
  padding-right: 10px; }

.footer {
  background-color: #de0020;
  height: 8rem;
  margin-top: 1.5rem; }

.container {
  padding-left: 15%;
  padding-right: 15%; }
  @media (max-width: 320px) {
    .container {
      padding-left: 8px;
      padding-right: 8px;
      margin-top: 0; } }
  @media (min-width: 320.1px) and (max-width: 768px) {
    .container {
      padding-left: 15px;
      padding-right: 15px; } }
  @media (min-width: 768.1px) and (max-width: 1024px) {
    .container {
      padding-left: 15px;
      padding-right: 15px; } }

/*# sourceMappingURL=style.css.map */
